*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s;
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    div:first-child{
        padding: 20px;
        margin-right: 100px;
        h1{
            font-size: 40px;
            cursor: pointer;
            transition: all 0.3s;
            a{
                color: black;
                &:hover{
                    color: gray;
                }
            }
        }
    }
    div:last-child > ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li{
            padding: 20px;
            margin-left: 100px;
            a{
                font-size: 25px;
                color: blue;
                font-weight: 700;
                transition: all 0.3s;
                &:hover{
                    color: rgb(0, 98, 255);
                }
            }

        }
        
    }
}
.section-1{
    background-image: url("./img/1.jpg");
    width: 100%;
    height: 100vh;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #070707d1;
        h2{
            color: white;
            margin: 10px;
            font-size: 2.5rem;
            line-height: 50px;
            text-align: center;
            max-width: 700px;
        }
        button{
            background-color: rgb(47, 161, 255);
            padding: 20px 60px;
            border: none;
            font-size: 30px;
            margin: 50px;
            cursor: pointer;
            transition: all 0.3s;
            a{
                color: wheat;
            }
            &:hover{
                background-color: green;
            }
        }
    }
}
.section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div{
        text-align: center;
        margin: 20px;
        padding: 50px 20px;
        background-color: ghostwhite;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        width: 350px;
        &:hover{
            background-color: beige;
            border: 1px solid gray;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 100px;
            margin: 20px;
        }
        h1{
            margin: 10px;
            font-size:25px;
        }
        p{
            margin: 20px;
            font-size: 20px;
            color: rgb(77, 77, 77);
        }
    }
}
.product{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    color: blue;
}
.section-3{
  text-align: center;
  background-color: rgb(225, 255, 181);
  padding: 50px;
  margin-top: 50px;

  h1{
      font-size: 30px;
      margin: 20px;
  }
  p{
      margin: 20px;
      font-size: 25px;
  }
}

footer{
    background-color: rgb(46, 46, 46);
    p{
        text-align: center;
        padding: 20px;
        font-size: 16px;
        color: white;
    }
}
.buttom-bar{
    position: relative;
    div a:first-child{
        position:fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div a:last-child{
        position:fixed;
        bottom: 10px;
        left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}